<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DevComponents.DotNetBar2" publicKeyToken="7EB7C3A35B91DE04" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.5.0.1" newVersion="9.5.0.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
